[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/pyJac"]
	path = external/pyJac
	url = https://github.com/SLACKHA/pyJac.git
